<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fuild" style="margin: 15pt">
        <div class="row" style="border-bottom: 1px solid #000">
            <div class="col-xs-8" style="font-size: 11.5pt">
                Announcement of the <br/>business day of New Year's Holiday
            </div>
            <div class="col-xs-4" style="font-size: 11.5pt">
                10th. Dec. 2018
            </div>
        </div>
        <div class="row" style="margin-left: 7.87%; margin-right: 8.03%">
            Thank you very much for your continued patronage of the Nash Music Library.<br/>
            By the way, I will assume the business schedule below for the year-end and New Year holidays.
            <br/>
            ● Year-end business day Until the morning of December 28, Friday, 2018
            <br/>
            ● Business days of the New Year From January 7, 2019 (Monday)
            <br/>
            Product shipping · Receipt shipping · Inquiry correspondence will correspond to the request until December 28th (Fri) 2018 morning.
            We appreciate your inconvenience but we appreciate your understanding.
            Regarding new member registration, ordering and downloading on the website, you can use it anytime 24 hours a day, 365 days a year. We sincerely thank you for your continued patronage during the year, and thank you for your continued patronage in 2019.
        </div>
    </div>
</body>

</html>